:root {
    --primary-color: #201A23;
    --secondary-color: #2E2532;
    --accent-color: #FFF; 
} /* Change these via the DOM, *BOOM* themes */

.primary-bg {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

body {
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: #F8E5EE;
}

section {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#flex1 {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    border-radius: 20px;
    text-align: center;
    font-size: larger;
    min-width: 15vw;
}

header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    padding: 0 5px;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

img.icon {
    width: 14vw;
    height: 14vw;
    border-radius: 20px;
    margin-top: .5vw;
}

img#movies {
    background-color: white;
}

img#sugeanime {
    background-color: #161616;
}

#snapdrop {
    width: 40px;
    height: 40px;
}

.icon-small {
    width: 40px;
    height: 40px;
}

.menu {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
}

.palette {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--accent-color);
    margin-left: -13px;
}

.dropdown {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: var(--secondary-color) solid 5px;
    border-top: none;
    border-left: none;
    margin-bottom: 5px;
}